Repository sbt/sbt-native-packager, pull requests merged in 2018-09, with the labels that each got.

#1124 Wip/1026 validate task
  src/main/scala/com/typesafe/sbt/PackagerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/Keys.scala
  src/main/scala/com/typesafe/sbt/packager/debian/DebianPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/rpm/RpmPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/universal/UniversalPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/validation/Validation.scala
  src/main/scala/com/typesafe/sbt/packager/validation/ValidationKeys.scala
  src/main/scala/com/typesafe/sbt/packager/validation/ValidationResult.scala
  src/main/scala/com/typesafe/sbt/packager/validation/package.scala
  src/sbt-test/universal/validation/build.sbt
  src/sbt-test/universal/validation/project/plugins.sbt
  src/sbt-test/universal/validation/test
  test-project-simple/build.sbt
  test-project-simple/project/build.properties
Labels: universal

#1156 Add kill timeout to SystemD service as TimeoutStopSec
  src/main/resources/com/typesafe/sbt/packager/archetypes/systemloader/systemd/start-template
  src/main/scala/com/typesafe/sbt/packager/archetypes/systemloader/SystemdPlugin.scala
Labels: debian, rpm

#1161 FIX #1097 Put jdeb back in provided scope
  build.sbt
  src/main/scala/com/typesafe/sbt/packager/debian/JDebPackaging.scala
Labels: debian
