Repository sbt/sbt-native-packager, pull requests merged in 2019-11, with the labels that each got.

#1274 umask can also be set via bashScriptExtraDefines
  src/sphinx/archetypes/cheatsheet.rst
  src/sphinx/archetypes/java_app/customize.rst
  src/sphinx/recipes/index.rst
  src/sphinx/recipes/umask.rst
Labels: docs

#1278 Fix -debug option description
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/bash-template
Labels: docs

#1279 Autoremove multi-stage intermediate image(s)
  build.sbt
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/Keys.scala
  src/main/scala/com/typesafe/sbt/packager/docker/dockerfile.scala
  src/sbt-test/docker/autoremove-multi-stage-intermediate-images/build.sbt
  src/sbt-test/docker/autoremove-multi-stage-intermediate-images/project/plugins.sbt
  src/sbt-test/docker/autoremove-multi-stage-intermediate-images/src/main/scala/Main.scala
  src/sbt-test/docker/autoremove-multi-stage-intermediate-images/test
  src/sbt-test/docker/file-permission/build.sbt
  src/sphinx/formats/docker.rst
Labels: docker

#1285 Fix 1.5.0 regression in JLinkPLugin error handling
  build.sbt
  src/sbt-test/jlink/test-jlink-misc/build.sbt
  src/sbt-test/jlink/test-jlink-misc/test
Labels: bug, jlink
