Repository sbt/sbt-native-packager, pull requests merged in 2019-05, with the labels that each got.

#1214 correct sbt console example
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
Labels: docs

#1222 fix error message for jdkpackager when antTaskLib is missing
  src/main/scala/com/typesafe/sbt/packager/jdkpackager/JDKPackagerAntHelper.scala
Labels: docs

#1216 Mention discoveredMainClasses in documentation
  src/sphinx/archetypes/java_app/index.rst
Labels: docs

#1227 remove docker-containers
  README.md
Labels: docker

#1231 Improve Docker version detection
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerVersion.scala
  src/test/scala/com/typesafe/sbt/packager/docker/DockerVersionSpec.scala
Labels: docker

#1226 Fix dependency handling in JlinkPlugin (+ general improvements)
  .travis.yml
  src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkKeys.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkPlugin.scala
  src/sbt-test/jlink/test-jlink-missing-deps/bar/src/main/java/bar/Bar.java
  src/sbt-test/jlink/test-jlink-missing-deps/build.sbt
  src/sbt-test/jlink/test-jlink-missing-deps/foo/src/main/java/foo/Foo.java
  src/sbt-test/jlink/test-jlink-missing-deps/project/plugins.sbt
  src/sbt-test/jlink/test-jlink-missing-deps/test
  src/sbt-test/jlink/test-jlink-missing-deps/withIgnore/src/main/java/WithIgnore.java
  src/sbt-test/jlink/test-jlink-missing-deps/withoutIgnore/src/main/java/WithoutIgnore.java
  src/sphinx/archetypes/misc_archetypes.rst
Labels: jlink
