Repository sbt/sbt-native-packager, pull requests merged in 2020-03, with the labels that each got.

#1312 Fix for native-image to work in Windows
  build.sbt
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImageKeys.scala
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImagePlugin.scala
  src/sphinx/formats/graalvm-native-image.rst
Labels: graalvm, windows

#1314 Fix windows / test-bat-template
  src/sbt-test/windows/test-bat-template/build.sbt
Labels: windows

#1310 Separate Docker Layers for Dependencies and App jars.
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/Keys.scala
  src/main/scala/com/typesafe/sbt/packager/docker/LayeredMapping.scala
  src/sbt-test/docker/file-permission/build.sbt
  src/sbt-test/docker/test-executableScriptName/test
  src/sbt-test/docker/test-layer-groups/build.sbt
  src/sbt-test/docker/test-layer-groups/changes/nolayers.sbt
  src/sbt-test/docker/test-layer-groups/docker/log4j.properties
  src/sbt-test/docker/test-layer-groups/docker/spark-env.sh
  src/sbt-test/docker/test-layer-groups/layers.sbt
  src/sbt-test/docker/test-layer-groups/project/plugins.sbt
  src/sbt-test/docker/test-layer-groups/src/main/scala/Main.scala
  src/sbt-test/docker/test-layer-groups/test
  src/sbt-test/docker/test-packageName-universal/test
  src/sbt-test/docker/test-packageName/test
  src/sphinx/formats/docker.rst
Labels: docker

#1318 Remove docker sudo test from build
  src/sbt-test/docker/simple-sudo-docker/build.sbt
  src/sbt-test/docker/simple-sudo-docker/project/plugins.sbt
  src/sbt-test/docker/simple-sudo-docker/src/main/scala/Main.scala
  src/sbt-test/docker/simple-sudo-docker/test
Labels: docker
