Repository sbt/sbt-native-packager, pull requests merged in 2020-05, with the labels that each got.

#1338 Add support for docker:publish in DockerSpotifyClientPlugin
  src/main/scala/com/typesafe/sbt/packager/docker/DockerSpotifyClientPlugin.scala
Labels: docker

#1339 Add addApp function to align with bash version
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/ash-template
  src/sbt-test/ash/add-app-settings/build.sbt
  src/sbt-test/ash/add-app-settings/project/plugins.sbt
  src/sbt-test/ash/add-app-settings/src/main/scala/MainApp.scala
  src/sbt-test/ash/add-app-settings/test
Labels: docker, universal

#1340 rename task wix-file to wixFile
  src/sphinx/formats/windows.rst
Labels: windows
