Repository sbt/sbt-native-packager, pull requests merged in 2020-01, with the labels that each got.

#1295 JlinkPlugin: Add and document a workaround for automatic modules
  src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkPlugin.scala
  src/sbt-test/jlink/test-jlink-misc/build.sbt
  src/sbt-test/jlink/test-jlink-misc/test
  src/sphinx/archetypes/index.rst
  src/sphinx/archetypes/jlink_plugin.rst
  src/sphinx/archetypes/misc_archetypes.rst
Labels: jlink

#1291 Remove mailinglist
  README.md
Labels: docs

#1299 Introduce RPM / packageBin / artifactPath setting.
  src/main/scala/com/typesafe/sbt/packager/rpm/RpmHelper.scala
  src/main/scala/com/typesafe/sbt/packager/rpm/RpmPlugin.scala
  src/sbt-test/rpm/test-artifactPath/build.sbt
  src/sbt-test/rpm/test-artifactPath/project/plugins.sbt
  src/sbt-test/rpm/test-artifactPath/test
  src/sphinx/formats/rpm.rst
Labels: rpm
