Repository sbt/sbt-native-packager, pull requests merged in 2020-07, with the labels that each got.

#1350 remove sbt 0.12 operators from documentation
  src/sphinx/formats/universal.rst
Labels: docs

#1351 Systemd mark file as non config
  src/main/scala/com/typesafe/sbt/packager/archetypes/systemloader/SystemdPlugin.scala
  src/sphinx/archetypes/systemloaders.rst
Labels: rpm

#1352 fix(Docker.*?Plugin): restore the sbt-standard task concurrency tags
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerSpotifyClientPlugin.scala
Labels: docker
