Repository sbt/sbt-native-packager, pull requests merged in 2020-10, with the labels that each got.

#1369 Describe dockerGroupLayers and how to disable it
  src/sphinx/formats/docker.rst
Labels: docker

#1370 docker: make None the last layer group
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/sbt-test/docker/test-layer-groups/build.sbt
  src/sbt-test/docker/test-layer-groups/test
Labels: docker

#1374 Omit removed Java modules from detected jlinkModules
  src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkPlugin.scala
Labels: jlink

#1376 Use github actions for automatic releases
  .github/workflows/release.yml
  .travis.yml
  build.sbt
  project/ChangelogPlugin.scala
  project/plugins.sbt
  project/secrets.tar.enc
  release-travis.sh
Labels: project
