Repository sbt/sbt-native-packager, pull requests merged in 2021-08, with the labels that each got.

#1448 Fix link to the Oracle GraalVM Community Edition Docker images
  src/sphinx/formats/graalvm-native-image.rst
Labels: documentation, graalvm, minor

#1440 Use only Unix file separators when generating Unix scripts
  src/main/scala/com/typesafe/sbt/packager/archetypes/scripts/AshScriptPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/scripts/BashStartScriptPlugin.scala
Labels: docker, universal

#1451 Fix for realpath in top-level directories
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/bash-template
Labels: bug, universal, minor
