Repository sbt/sbt-native-packager, pull requests merged in 2025-01, with the labels that each got.

#1665 🐛 fix: use exec in forwarder scripts (#1664)
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/ash-forwarder-template
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/bash-forwarder-template
Labels: docker, universal

#1668 Update scalafmt setting. enforce new wildcard syntax
  .scalafmt.conf
  src/main/scala/com/typesafe/sbt/PackagerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/FileUtil.scala
  src/main/scala/com/typesafe/sbt/packager/SettingsHelper.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/JavaServerApplication.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/jlink/JlinkPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/scripts/BashStartScriptPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/scripts/BatStartScriptPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/systemloader/SystemVPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/systemloader/SystemdPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/systemloader/SystemloaderPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/archetypes/systemloader/UpstartPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/debian/DebianNativePackaging.scala
  src/main/scala/com/typesafe/sbt/packager/debian/DebianPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/debian/JDebPackaging.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/docker/DockerSpotifyClientPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/graalvmnativeimage/GraalVMNativeImagePlugin.scala
  src/main/scala/com/typesafe/sbt/packager/jar/ClasspathJarPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/jar/LauncherJarPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/jdkpackager/JDKPackagerPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/linux/LinuxMappingDSL.scala
  src/main/scala/com/typesafe/sbt/packager/linux/LinuxPackageMapping.scala
  src/main/scala/com/typesafe/sbt/packager/linux/LinuxPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/rpm/RpmPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/universal/UniversalPlugin.scala
  src/main/scala/com/typesafe/sbt/packager/windows/WindowsPlugin.scala
Labels: maintenance

#1663 bat script: implement -jvm-debug
  src/main/resources/com/typesafe/sbt/packager/archetypes/scripts/bat-template
  src/sbt-test/windows/test-bat-template/build.sbt
Labels: windows
